.alarm-box {
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: #8888888f !important;
}

.alarm-box * {
  font-weight: bold;
}

.alarm-box.none {
  display: none;
}

.alarm-user-img-box * {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
}

.alarm-user-img-box {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  margin-top: -10px;
  margin-right: 10px;
}

.alarm-link-img-box {
  width: 50px;
  height: 50px;
}

.link-img {
  border-radius: 20px;
  overflow: hidden;
}

.alarm-content-box {
  width: calc(100% - 70px);
  padding: 5px 10px;
  text-align: left;
}

.alarm-content-text {
  text-align: left;

}

.alarm-content-ago {
  font-size: 13px;
  color: #888
}

.alarm-box.read {
  background-color: #fff;
}

.alarm-box.read * {
  font-weight: 500;
}

.alarm-content-link-box {
  width: calc(100% - 90px);
  display: flex;
  align-items: center;
}

.delete-alarm {}

.delete-alarm svg {
  font-size: 14px;
  padding: 10px;
}