.icon-btn {
  flex: 1;
}

.icon-btn button {
  width: 100%;
}

.icon-btn button * {
  font-size: 24px;
}

.icon-btn.true svg {
  color: royalblue;
}

.icon-btn.false svg {
  color: #999;
}

.icon-btn.like svg {
  color: rgb(233, 32, 72);
}