@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: "SDGothic";
  src: url("../font/AppleSDGothicNeoR.ttf") format("truetype");
  font-weight: normal;
}

/* 이후 "SDGothic"으로 폰트 적용 가능 */
@font-face {
  /* 애플산돌고딕 폰트 적용 */
  font-family: "SDGothicB";
  src: url("../font/AppleSDGothicNeoB.ttf") format("truetype");
  font-weight: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
section,
aside,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "SDGothic", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  text-align: center;
}

/* Scroll */
html {
  scroll-behavior: smooth;
}

body {
  /* Chrome, Safari, Edge, Opera */
  -ms-overflow-style: none;
  /* Firefox  */
  scrollbar-width: none;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

/* input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox  */
input[type='number'] {
  -moz-appearance: textfield;
}

img,
video {
  content-visibility: auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

button:hover {
  background: none;
}

button:active {
  background: none;
}

section {
  width: 100%;
  height: calc(100vh - 100px);
  margin: 50px 0;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  scroll-behavior: smooth;
}

@media screen and (min-width:1024px) {
  section>div {
    width: 100%;
    max-width: 500px;
  }
}

@media screen and (min-width:768px) and (max-width: 1023px) {
  section>div {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  section>div {
    width: 100%;
  }
}


svg {
  padding: 10px;
  color: black;
}

/* button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

svg {
  border-radius: 50%;
}

svg:hover {
  background-color: skyblue;
}

svg:active {
  background-color: deepskyblue;
}

a:hover {
  opacity: 0.7;
}

a:active {
  opacity: 0.5;
} */