.chat-box {
  padding: 10px;
  position: relative;
}

.chat-title-box {
  display: flex;
  justify-content: space-between;
}

.chat-title {
  padding-top: 14px;
}

.chat-title>span {
  font-size: 18px;
  font-weight: bold;
}

.add-chat-btn {
  z-index: 1000;
}

.show-search-user-box {
  background-color: #aaa;
  max-height: 150px;
  overflow-y: scroll;
}

.show-search-user {
  display: flex;
  padding: 5px;
  align-items: center;
}

.search-user-img-box {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


.search-user {
  width: calc(100% - 20px);
  position: absolute;
  top: 15px;
  background-color: #fff;
}

.search-input {
  width: calc(100% - 20px);
  padding: 10px;
}

.search-user-info {
  display: flex;
  flex-direction: column;
}

.search-user-info>div:first-child {
  font-weight: bold;
}

.search-user-info>div {
  text-align: left;
}