@media (max-width:500px) {
  .loading-box {
    left: 0;
  }
}

@media (min-width:500px) {
  .loading-box {
    left: calc(50vw - 250px);
  }
}

.loading-box {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
  z-index: 5000;
}