.join-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.join-box input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #888;
  padding: 10px;
  margin: 10px 0;
}

.valid-check-box {
  position: relative;
}

.valid-check-box button {
  width: 100px;
  position: absolute;
  right: -1px;
  top: 11px;
  margin-left: 10px;
  background-color: royalblue;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fff;
}

.join-submit-btn {
  margin-top: 10px;
  border-radius: 10px;
  width: 310px;
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
}

header {
  display: none;
}

footer {
  display: none;
}

section {
  height: 100dvh;
  margin: 0;
}

.show-id {
  font-size: 18px;
  padding: 10px;
}

.find-title-box {
  font-size: 30px;
  margin-bottom: 20px;
}

.true {
  background-color: #888 !important;
}

.timer {
  position: absolute;
  top: 20px;
  right: 110px;
}