.join-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-img-setting {
  margin-bottom: 10px;
  width: 100px;
  height: 100px;
  border: 2px solid #888;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-img-setting .icon-btn {
  margin-top: 12px;
}

.join-file-input {
  display: none;
}

.join-box input {
  width: 300px;
  border: none;
  border-bottom: 1px solid #888;
  padding: 10px;
  margin: 10px 0;
}

.valid-check-box {
  position: relative;
}

.valid-check-box button {
  width: 100px;
  position: absolute;
  right: -1px;
  top: 8px;
  margin-left: 10px;
  background-color: royalblue;
  border-radius: 5px;
  padding: 10px 10px;
  color: #fff;
}

.join-submit-btn {
  margin-top: 10px;
  border-radius: 10px;
  width: 310px;
  padding: 10px 20px;
  background-color: royalblue;
  color: #fff;
}

header {
  display: none;
}

footer {
  display: none;
}

section {
  height: 100vh;
  margin: 0;
}


.view-logo {
  margin-bottom: 30px;
}

.view-user-img {
  object-fit: cover;
}