.user-button-box {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding-top: 10px;
}

.user-btn {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
}

.user-add-btn {
  border: 1px solid black;
  border-radius: 10px;
}

.user-add-btn svg {
  font-size: 14px;
}

.recommend-list-box {
  display: flex;
  overflow-x: scroll;
  gap: 10px;
}