.button-box {
  display: flex;
  width: 300px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  border-radius: 10px;
  background-color: rgba(135, 206, 250, 0.877);
  gap: 10px;
}

.button-box.naver {
  background-color: rgba(103, 214, 151, 0.89);
}

.button-box.kakao {
  background-color: rgba(255, 255, 3, 0.836);
}

.button-box.google {
  background-color: lightcoral;
}

.btn-text {
  width: 100px;
  font-weight: bold;
  font-size: 16px;
  margin-left: 30px;
}

.button-box .icon-btn {
  width: 30px;
}

.button-box button {
  width: 30px;
}

.icon-btn * {
  width: 30px;
}