.board-icon-box {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.board-icon-box .icon-left,
.board-icon-box .icon-left>div {
  display: flex;
}

.board-icon-box svg {
  font-size: 20px;
  padding: 5px;
}

.board-middle-count {
  margin: auto;
  margin-right: 5px;
}

.comment-box {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 20px;
  z-index: 100;
  transition: 0.2s;
  transform: translateY(100vh);
}

.comment-box.show {
  display: block;
  transform: translateY(0vh);
}