.my-save-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5%;
  height: max-content;
}

.my-save-box>div {
  width: 33%;
  aspect-ratio: 1/1;
  margin-bottom: 3px;
}

.my-save-box img {
  object-fit: contain;
  background-color: black;
}