.my-story-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: max-content;
  gap: 0.5%;
}

.my-story-box>div {
  width: 33%;
  aspect-ratio: 9/16;
  margin-bottom: 3px;
}

.my-story-box img {
  object-fit: contain;
  background-color: black;
}