.search-input-box {
  position: relative;
}

.search-input {
  width: calc(100% - 60px);
  padding: 10px;
  padding-left: 40px;
}

.search-input-icon {
  position: absolute;
}

.search-input-icon svg {
  font-size: 20px;
}

.show-search-user-box {
  position: absolute;
  max-height: 190px;
  z-index: 1000;
  width: 100%;
  background-color: #555;
  opacity: 0.95;
  color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.show-search-user {
  margin: 5px 0;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}

.search-user-img-box {
  width: 40px;
  height: 40px;
}

.ranking-info {
  position: absolute;
  right: 7px;
  bottom: calc(-100vh + 160px);
  z-index: 1000;
  color: #fff;
  background-color: royalblue;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 15px;
}

.ranking-btn {
  position: absolute;
  right: 10px;
  bottom: calc(-100vh + 185px);
  z-index: 1000;
  border-radius: 50%;
  background-color: royalblue;
}

.ranking-btn svg {
  color: gold
}

.search-user-info-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}